body {
	margin-top: 60px;
}

#content > .card {
	padding: 20px;
}

#content ul.list-group {
	list-style-type: none;
}

#content #carousel {
	background-color: #4285F4;
}

#content #carousel .carousel-inner .carousel-item img {
	width: auto;
 	height: 600px;
 	max-height: 600px;
 	margin: auto
}
